services:
  meld_graph:
    image: meldproject/meld_graph:v2.2.4_gpu
    platform: "linux/amd64"
    volumes:
      - ./docker-data:/data
    environment: 
      - FS_LICENSE=/run/secrets/license.txt
      - MELD_LICENSE=/run/secrets/meld_license.txt
    secrets:
      - license.txt
      - meld_license.txt
    user: $DOCKER_USER
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
              count: all

secrets:
  license.txt:
    file: ./license.txt
  meld_license.txt:
    file: ./meld_license.txt
